<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <title>{{ page.title }}</title>
    <style>
      body {
        background-color: #ddd;
        color: #111;
        font-family: "Roboto", sans-serif;
      }
      td {
        padding: 5px;
      }
      th {
        padding: 5px;
      }
    </style>
  </head>
  <body>
    {{ content }}
  </body>
</html>